:root {
    --bg-color: #f3f3f3;
    --bg-color-2: #2f2f2f;
    --white: white;
    --black: black;
    --text-size: 22px;
    --t-s-ph: 16px;
    --primary: rgb(75, 136, 236);
    --danger: rgb(222, 103, 103);
    --succes: rgb(98, 239, 98);
    --shadow: 3px 3px 10px 1px rgb(136, 136, 136);
    --br1: 10px;
    --br2: 20px;
    --br-full: 50%;
    --s1: 10px;
    --s2: 20px;
    --s3: 30px;
    --s4: 4rem;
}

.dark {
    --bg-color: #030303;
    --bg-color-2: #cdcdcd;
    --white: black;
    --black: white;
}

body {
    background-color: var(--bg-color);
    color: var(--black);
    margin: 0;
    padding: 0;
    font-size: var(--text-size);
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------- start header ------------------------------ */
header {
    box-shadow: var(--shadow);
    padding: var(--s1) var(--s4);
    background-color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: var(--s3);
}

header nav ul li {
    list-style-type: none;
    transition: all 250ms;
}

header nav ul li:hover {
    transform: scale(1.2);
}

header nav ul li a {
    text-decoration: none;
    color: var(--black);
}

.logo {
    width: 4rem;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: var(--br-full);
    box-shadow: var(--shadow);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ------------------------------------- end header ------------------------------ */

/* ------------------------------------- popupWindow */
.popupWindow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 100000;
}

.showWindow {
    visibility: visible;
}

.popupMain {
    background-color: var(--white);
    width: 50%;
    height: 30rem;
    position: fixed;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.popupHeader {
    background-color: var(--white);
    position: absolute;
    top: -6px;
    right: 0;
    border-radius: 20px 20px 0 0;
    color: red;
    padding: 20px;
}

.popupWindow-contant {
    width: 100%;
    height: auto;
    overflow: auto;
}

.popupWindow-contant img {
    width: 40%;
}







main {

    padding: var(--s1) var(--s4);
}

main section.part1 {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 40%;
    height: 45rem;
}

main section.part1 .part1_right,
.part1_left {
    height: 100%;
    overflow: hidden;
}

main section.part1 .part1-img {

    overflow: hidden;
    border-radius: 20px;
}

main section.part1 .part1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part1_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.part1_left .one h1 {
    font-size: 5rem;
}

.part1_left small {
    display: block;
}


.part1_left .two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part1_left .two .two_cover-image {
    width: 99%;
    height: 16rem;
    border-radius: 20px;
    overflow: hidden;
}

.two_cover-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part1_left .two button {
    width: 18rem;
    background-color: var(--bg-color-2);
    border-radius: 30px;
    color: var(--white);

    display: flex;
    padding: 2px 2px;
    align-items: center;
    justify-content: space-between;
}

.part1_left .two button div {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: var(--black);
    background-color: var(--white);
    font-size: 3rem;
    transform: rotate(45deg);
}

.part1_left .two button span {
    font-size: large;
    padding: 0 40px;
}

.part1_left .two button {
    margin-bottom: -30px;
    z-index: 1;
}



.part2 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.part2 .cart {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 100px;

    line-height: 0.5;
    background-color: #686868;
    color: var(--white);
    padding: 20px;
    border-radius: 50px 100px 1px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 3s ea;
}

.part2 .cart:hover {
    width: 400px;
    height: 200px;
}

.loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    z-index: 100000;
}




@keyframes loader {
    0% {
        transform: scale(1);
        outline-offset: 10px;


    }

    100% {
        transform: scale(1.5);
        outline-offset: 50px;
        border: 10px double rgb(30, 0, 255);


    }
}

.load {
    background-image: radial-gradient(rgb(177, 177, 177), white);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 10px double blue;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);

}

.load img {
    width: 90%;
    height: 90%;
    object-fit: cover;
}














/* ------------------------------------- start footer ------------------------------ */
footer {
    background-color: var(--black);
    color: var(--white);
    padding: var(--s1) var(--s4);
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    gap: 10px;
}

footer .head-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 1px solid gray;
    text-align: center;
}

/* ---------------- cols 1------------------ */
footer div:nth-child(2) h1 {
    font-size: larger;
}

footer div:nth-child(2) p {
    font-size: medium;
}

/* ---------------- cols 2------------------ */
footer div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div:nth-child(3) h1 {
    font-size: 4rem;
    text-align: center;

}

footer div:nth-child(3) button {
    width: 80%;
    background-color: var(--bg-color);
    border-radius: 30px;
    display: flex;
    padding: 2px 2px;
    align-items: center;
    justify-content: space-between;
}

footer div:nth-child(3) button div {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    color: var(--white);
    background-color: var(--black);
    font-size: 3rem;
    transform: rotate(45deg);
}

footer div:nth-child(3) button span {
    font-size: large;
    padding: 0 40px;
}

footer div:nth-child(4) h1 {
    font-size: larger;
}

footer div:nth-child(4) ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

footer div:nth-child(4) ul li {
    list-style-type: none;
}

footer div:nth-child(4) ul li a {
    color: var(--white);
    text-decoration: none;
}

.contact-us {
    display: flex;
    justify-content: space-between;
}

.contact-us .link div {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    margin-top: 10px;
}

.contact-us .link div a {
    color: var(--white);
    text-decoration: none;
}

.contact-us div:last-child() h1 {
    font-size: larger;
}

/* ------------------------------------- end footer ------------------------------ */