:root{
    --background-color: #f3f3f3;
    --background-color-2:#2f2f2f;
    --white:white;
    --blak:black;
    --text-color:black;
    --text-size:22px;
    --text-size-phone:16px;
    --primary:rgb(75,136,236);
    --danger:rgb(232, 94, 94);   
    --succes:rgb(130, 255, 130);    
    --shadow:2px 2px 12px 2px rgb(173, 171, 171);
    --border1:10px;   
    --border2:20px;
    --border-full:50%;
    --size1:10px;
    --size2:20px;
    --size3:30px;
    --size4:4rem;
}
.DARK{
    --background-color:#030303;
    --background-color-2:#cdcdcd;
    --white:black;
    --black:white;
    

}
body{
    background-color:var(--background-color);
    color: var(--black);
    margin: 0;
    padding: 0;
    font-size:var(--text-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* -----------------------------------start header------------- */
header{
    box-shadow: var(--shadow);
    color: var(--black);
    padding: var(--size1) var(--size4);
    background-color:var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display:flex;
    gap:30px;

}

header nav ul li{
    list-style-type: none;
}
header nav ul li :hover {
    transform: scale(1.2);
    transition: all 250ms;

}
header nav ul li a{
    text-decoration:none;
    color: var(--black);
}
.img{
    width: 4rem;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
.pro{
    display: flex;
    align-items: center;
    gap: 30px;
}

.pro-picture{
    width: 40px;
    height:40px;
    overflow: hidden;
    border-radius:var(--border-full);
    box-shadow: var(--shadow);
}

.pro-picture img{
    width: 100px;
    height: 100px;
    object-fit:cover;
}

/* -------------------------------- end header-------------- */

      
/* --------------------------------popupwindow--------------- */

.popupwindow{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
   left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    visibility: hidden;
}
.showwindow{
    visibility: visible;
}
.pop-Main{
    background-color: var(--white);
    width: 55%;
    position: fixed;
    padding: 15px;
    border-radius: 25px;
    position: relative;
    
}
.poupHead{
    background-color: var(--white);
    position: absolute;
    top: -8px;
    right: 0;
    border-radius: 20px 20px 10px 10px;
    color: rgb(62, 7, 151);
    padding: 20px;
}
.popup-contain{
    overflow: auto;
}
.popup-contain img{
    width: 40%;
}








main{
    
    padding: var(--size1) var(--size4);
}
main section.part1{
    display:grid;
    gap:10px ;
    grid-template-columns: auto 40%;
    height: 45rem;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
}    
main section.part1.part1-right
.part-left {
    height:100%;
    overflow: hidden;
}
main section.part1 .part-img{
    overflow: hidden;
    border-radius:20px 20px 10px;
}
main section.part1 .part-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.part1-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part1-left small{
    display: block;
}
.part1_left .two .two_cover-image {
    width: 100%;
    height: 12rem;
    border-radius: 20px 20px 20px 20px;
}
.two_cover-image img{
     width: 100%;
     height: 100%;
}

.part2{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.part2 .cart{
    display: flex;
    align-items: center;
    line-height: 0.6;
    gap: 15px;
    background-color: #353434;
    color: var(--whi    te);
    padding: 20px;
    border-radius: 25px 100px 2px 20px;
    box-shadow: 10px 3px 40px 1px green, -5px 5px 3px 1px white;
    transition: 250ms all;
}
.part2 .cart:hover{
     transform: scale(1.5);
}
.part-img part-right{
    border-radius: 10px 20px 30px 10px;
}




.container {
    background-color: var(--background-light);
    border-radius: var(--border-radius-light);
    color: #000;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .container.dark-mode {
    background-color: var(--background-dark);
    border-radius: var(--border-radius-dark);
    color: #fff;
  }




















/* -------------------------------- start footer--------------- */













footer{
    background-color: var(--blak);
    color: var(--white);
    padding: var(--size1) var(--size4);
    display: grid;
    grid-template-columns:34% 34% 34%;
    justify-content: space-between;
    gap:10px;
    
}
footer .header-footer{
    grid-column-start:1;
    grid-column-end:4;
    border-bottom:1px solid gray;
    text-align: center;
}
/* -------------couls 1---------------------- */
footer div:nth-child(2) h1{
    font-size:larger;
}
footer div:nth-child(2) p{
    font-size:medium ;
}
/* -------------couls 2---------------------- */
footer div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div:nth-child(3) h1{
    font-size:3rem;
    text-align:center;
}
footer div:nth-child(3) button{
    width: 80%;
    border-radius:30px;
    display: flex;
    padding:2px 2px;
    align-items: center;
    justify-content: space-between;
    
    
}


footer div:nth-child(3)  div{
    border-radius:55px;
    height:3rem;
    width:3rem;
    border:1px solid black;
    color: var(--black); 
    background-color:var(--blak) ;
    font-size: 3%;
    

}
footer div:nth-child(3) button span{
    font-size:large;
    padding: 0 45px;

}
footer div:nth-child(3) h1{
    font-size:larger;
   
}
footer div:nth-child(4) ul{
    display: flex;
    flex-direction:column;
    gap: 15px;
}
footer div:nth-child(4) ul li{
    list-style-type: none;
}
footer div:nth-child(4) ul li a{
    color:var(--black) ;
    text-decoration: none;
}
.contact{
    display:flex ;
    justify-content: space-between;
}
.contact .lin div {
    display: grid;
    grid-template-columns:30px auto;
    align-items: center;
    margin-top: 10px;
}
.contact .lin div a{
    color: var(--black);
    text-decoration: none;
}

.contact  div:last-child()h1{
    font-size:large; 
}


/* -------------------------------- end footer---------------- */
