:root{
    --background-color: #f3f3f3;
    --background-color-2:#2f2f2f;
    --white:white;
    --blak:black;
    --text-color:black;
    --text-size:22px;
    --text-size-phone:16px;
    --primary:rgb(75,136,236);
    --danger:rgb(232, 94, 94);   
    --succes:rgb(130, 255, 130);    
    --shadow:2px 2px 12px 2px rgb(173, 171, 171);
    --border1:10px;   
    --border2:20px;
    --border-full:50%;
    --size1:10px;
    --size2:20px;
    --size3:30px;
    --size4:4rem;
}
.DARK{
    --background-color:#030303;
    --background-color-2:#cdcdcd;
    --white:black;
    --blak:white;
    

}
body{
    background-color:var(--background-color);
    color: var(--black);
    margin: 0;
    padding: 0;
    font-size:var(--text-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* -----------------------------------start header------------- */
header{
    box-shadow: var(--shadow);
    
    padding: var(--size1) var(--size4);
    background-color:var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display:flex;
    gap:30px;

}

header nav ul li{
    list-style-type: none;
}
header nav ul li :hover {
    transform: scale(1.2);
    transition: all 250ms;

}
header nav ul li a{
    text-decoration:none;
    color: var(--black);
}
.img{
    width: 4rem;
    overflow: hidden;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}
.pro{
    display: flex;
    align-items: center;
    gap: 30px;
}

.pro-picture{
    width: 40px;
    height:40px;
    overflow: hidden;
    border-radius:var(--border-full);
    box-shadow: var(--shadow);
}

.pro-picture img{
    width: 100px;
    height: 100px;
    object-fit:cover;
}

/* -------------------------------- end header-------------- */
main{
    height:90vh ;
}
/* -------------------------------- start footer--------------- */
footer{
    background-color: var(--blak);
    color: var(--white);
    padding: var(--size1) var(--size4);
    display: grid;
    grid-template-columns:34% 34% 34%;
    justify-content: space-between;
    gap:10px;
    
}
footer div:nth-child(1){
    grid-column-start:1;
    grid-column-end:4;
    border-bottom:1px solid gray;
    text-align: center;
}
/* -------------couls 1---------------------- */
footer div:nth-child(2) h1{
    font-size:larger;
}
footer div:nth-child(2) p{
    font-size:medium ;
}
/* -------------couls 2---------------------- */
footer div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer div:nth-child(3) h1{
    font-size:3rem;
    text-align:center;
}
footer div:nth-child(3) button{
    width: 80%;
    border-radius:30px;
    display: flex;
    padding:2px 2px;
    align-items: center;
    justify-content: space-between;
    
}
footer div:nth-child(3)  div{
    border-radius:55px;
    height:3rem;
    width:3rem;
    border:1px solid black;
    color: var(--white); 
    background-color:var(--blak) ;
    font-size: 3%;
    

}
footer div:nth-child(3) button span{
    font-size:large;
    padding: 0 45px;

}


/* -------------------------------- end footer---------------- */
